<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>InvenTrack</title>
    <style type="text/css">
        #subject {
            margin-top: 40px;
            text-align: center;
        }

        #main {
            margin-top: 50px;
            text-align: center;
        }

        #otp {
            color: #029400;
            font-size: 1.5rem;
        }

        #warning_1 {
            color: #A00000;
            font-size: 0.9rem;
        }

        #warning_2 {
            color: #E34C00;
            font-size: 0.9rem;
        }
    </style>
</head>
<body>
<h4 id="subject">OTP for Password Reset</h4>
<div id="main">
    <div>You requested a password reset on:<br>
        <p th:text="${datetime}"></p>
    </div>
    <br>
    <p><strong>Username: <span th:text="${username}"></span></strong></p>
    <br>
    <p><strong>Use the OTP below to reset password</strong></p>
    <h3 id="otp" aria-describedby="warning_1 warning_2" th:text="${code}"></h3>
    <br>
    <p id="warning_1">Do NOT share this code with anyone</p>
    <br>
    <p id="warning_2">Do not reply to this email</p>
    <br>
    <hr>
    <p th:text="'&copy; ' + ${#dates.year(#dates.createNow())} + ', InvenTrack'"></p>
</div>
</body>
</html>